<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Hotels</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="images/favicon.ico">
     <link rel="shortcut icon" href="images/favicon.ico" />
     <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.1.1.js"></script>
     <script src="js/script.js"></script> 
     <script src="js/superfish.js"></script>
     <script src="js/jquery.ui.totop.js"></script>
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.mobilemenu.js"></script>
     <script src="js/jquery.tabs.min.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
     <script>
       $(document).ready(function(){
        $().UItoTop({ easingType: 'easeOutQuart' });
       });    
     </script>

      <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">


    <![endif]-->
     </head>

     <body class="" id="top">
     <header><div>
<!--==============================header=================================-->
     <div class="menu_block ">
     <div class="container_12">
        <div class="grid_12">
            
            <h1>
        <a href="index.html">
          <img src="images/logo.png" alt="Your Happy Family">
        </a>
      </h1>
         
        <nav class="horizontal-nav full-width horizontalNav-notprocessed">
            <ul class="sf-menu">
                   <li><a href="index.html">Home</a></li>
                   <li class="current"><a href="index-1.html">Hotels</a></li>
                   <li><a href="index-2.html">Flights </a></li>
                   <li><a href="index-3.html">Destinations</a>
                     <ul>
                        <li><a href="#">columns 01</a></li>
                        <li><a href="#">columns 02</a></li>
                        <li><a href="#">columns 03</a>
                          <ul>
                            <li><a href="#">columns 04</a></li>
                            <li><a href="#">columns 05</a></li>
                          </ul>
                        </li>
                     </ul>
                   </li>
                   <li><a href="index-4.html">Contacts</a></li>
                 </ul>
              </nav>
              
            <div class="clear"></div>
            
  </div>
    

<div class="clear"></div>
</div></div>


</div>

</header>
<!--==============================Content=================================-->
<div class="content">
  <div class="container_12">
    <div class="grid_12">
      <h3 class="mb0">Hotels</h3>
       <div class="tabs tb1">
             <div class="div-nav  ">
                 <ul class="nav">
                      <li class="selected"><a href="#tab-1" class="ic1"> All Hotels </a></li>
                      <li><a href="#tab-2" class="ic5"> Best Value </a></li>
                      <li><a href="#tab-3" class="ic6">Luxury </a></li>
                      <li><a href="#tab-4" class="ic7">Family </a></li>
                      <li><a href="#tab-5" class="ic8"> Business </a></li>
                 </ul>
             </div>
             <div class="div-tabs">
              <div  id="tab-1" class="tab-content">
                <img src="images/page2_img1.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Aliquam dapibus tincidunt metus</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class=""></span>
                      <span class=""></span>
                    </div>
                  </div>
                  <strong>Chicago</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
                <div class="clear"></div>
                <img src="images/page2_img2.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Ut tellus dolor, dapibus eget, elementum vel, cursus</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class=""></span>
                    </div>
                  </div>
                  <strong>Mexico</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
                <div class="clear"></div>
                <img src="images/page2_img3.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Donec sagittis euismod purus</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class=""></span>
                      <span class=""></span>
                      <span class=""></span>
                    </div>
                  </div>
                  <strong>Caribbean</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
                <div class="clear"></div>
                <img src="images/page2_img4.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                    </div>
                  </div>
                  <strong>Bahamas</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
              </div>
              <div  id="tab-2" class="tab-content">
                 <img src="images/page2_img1.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Aliquam dapibus tincidunt metus</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class=""></span>
                      <span class=""></span>
                    </div>
                  </div>
                  <strong>Chicago</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
                <div class="clear"></div>
                <img src="images/page2_img2.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Ut tellus dolor, dapibus eget, elementum vel, cursus</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class=""></span>
                    </div>
                  </div>
                  <strong>Mexico</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
              </div>
              <div  id="tab-3" class="tab-content">
                <img src="images/page2_img4.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                    </div>
                  </div>
                  <strong>Bahamas</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
              </div>
              <div  id="tab-4" class="tab-content">
                <img src="images/page2_img3.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Donec sagittis euismod purus</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class=""></span>
                      <span class=""></span>
                      <span class=""></span>
                    </div>
                  </div>
                  <strong>Caribbean</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
                <div class="clear"></div>
                <img src="images/page2_img4.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                    </div>
                  </div>
                  <strong>Bahamas</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
              </div>
              <div  id="tab-5" class="tab-content">
                 <img src="images/page2_img2.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="col2">
                    <a href="#">Ut tellus dolor, dapibus eget, elementum vel, cursus</a>
                    <div class="stars">
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class="active"></span>
                      <span class=""></span>
                    </div>
                  </div>
                  <strong>Mexico</strong>
                  <br>
                  <p>643 Reviews</p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                  <br>
                  <a href="#" class="btn">show prices</a>
                </div>
              </div>
             </div>
            </div>
    </div>
  </div>
</div>
<!--==============================footer=================================-->

  <footer>   
    <div class="container_12">
      <div class="grid_3 fright">
        <ul>
          <li><a href="#">Destin hotels</a></li>
          <li><a href="#">Galveston hotels</a></li>
          <li><a href="#">Gatlinburg hotels</a></li>
          <li><a href="#">Hawaii hotels</a></li>
          <li><a href="#">Hilton Head hotels</a></li>
          <li><a href="#">Honolulu hotels</a></li>
        </ul>
      </div>
      <div class="grid_2 fright">
        <ul>
          <li><a href="#">Branson hotels</a></li>
          <li><a href="#">Brooklyn hotels</a></li>
          <li><a href="#">Chicago hotels</a></li>
          <li><a href="#">Dallas hotels</a></li>
          <li><a href="#">Denver hotels</a></li>
          <li><a href="#">Destin hotels</a></li>
        </ul>
      </div>      <div class="none"></div>

      <div class="grid_2 fright">
        <ul>
          <li><a href="#">Anaheim hotels</a></li>
          <li><a href="#">Aruba hotels</a></li>
          <li><a href="#">Asheville hotels</a></li>
          <li><a href="#">Atlanta hotels</a></li>
          <li><a href="#">Austin hotels</a></li>
          <li><a href="#">Baltimore hotels</a></li>
        </ul>
      </div>
      <div class="grid_5">
       
        <div class="copy">
        
        <a href="index.html" class="f_logo">
          <img src="images/f_logo.png" alt="">
        </a>
        <div>
        &copy; <span id="copyright-year"></span><br><a href="index-5.html">Privacy policy</a> </div>
        </div>
      </div>
    </div>  
  </footer>
</body>
</html>











